{namespace demo=Example\ViewHelpers}
<f:layout name="Default" />

Explanation
====

This is the main Template. It belongs to a specific Layout (called Default in this case)
and contains one Section (Main) which will be rendered from the Layout.

This makes the Template optimal to use as the body content of the page and the Layout
is ideal for menus, header, shared body content such as bread crumbs and the likes.

At the very top of this file you will see a special "namespace" registration. Using this
syntax you can map an XML namespace to a PHP namespace. In this case we choose the short
namespace name "demo" to map to the \Example\ViewHelpers namespace - and as illustrated
by the usage below, we can request to render the class "ExampleViewHelper" (the ViewHelper
part is implied by the naming convention and is automatically added) by using the special
namespaced XML tag "demo:example". The ViewHelper uses one (required) argument which is
a simple integer - see the class \Example\ViewHelpers\ExampleViewHelper for details.

<f:section name="Main">
    <pre>
        Hello world. Very original!

        Custom ViewHelper output: <demo:example number="3" />
    </pre>
</f:section>